page-fmodal-select-country {
  img {
    height: 3.2rem !important;
    width: 4.8rem !important;
    margin-right: 1rem;
  }

  .title-text{
    font-size: 2rem;
  }

  .country-name {
    font-size: 1.8rem;
  }

}
