page-freight-records {
  .item-md {
    padding-left: 0.5rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    .item-button {
      padding: 0 0 0 0.6em;
    }
  }

  ion-content {

    button {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
    }

  }

  .content {
    background-color: #ffffff;
  }

  p {
    margin-bottom: 0px;
  }

  .list-group {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  .center-btn:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
  }

  .center-btn button {
    display: inline-block;
    font-size:16px;
    vertical-align: middle;/* 保证文字垂直居中 */
  }

}
