<!--
  Generated template for the FreightSendboxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>箱子寄送</ion-title>
  </ion-navbar>
  <send-box-filter></send-box-filter>
</ion-header>

<ion-content>
  <ng-container *ngIf="isCtrl.loadingReady">

    <ng-container *ngIf="!hasCtrl.mailList">
        <div class="container">
          <div class="row pt-3">
            <div class="col-10 mx-auto text-center">
              <h2 style=" font-weight: bold; color: #9c9c9c; ">無箱子可寄送</h2>
            </div>
          </div>
        </div>
    </ng-container>

    <ng-container *ngIf="hasCtrl.mailList">

      <ng-container *ngFor="let order of ordersList;">
        <div class="list-group px-3 py-3" *ngFor="let box of order.myBoxes;">
          <div class="row">
            <div class="center-img col-3">
              <img [src]="box.FBPics">
            </div>
            <div class="px-0 col-5">
              <P><strong>箱子編號:</strong> {{ box.FBKey }}</P>
              <P><strong>箱子尺寸:</strong> {{ box.FBSize }}</P>
              <p><strong>寄送國家:</strong> <img class="my-1" [src]="'./assets/imgs/flags/' + box.ServiceCountry + '.png'" alt="" width="36rem" height="24rem"></p>
              <p><strong>寄送區域:</strong> {{ box.ServiceArea }}</p>
            </div>
            <div class="pr-0 col-4 center-btn">
              <button class="btn btn-primary" (click)="alert_isSendBox($event, order.OrderPath)" *ngIf="(order._Mail_State == '01')">寄送申請</button>
              <span *ngIf="(order._Mail_State != '01')" class="mb-0" [ngStyle]="{'color': stateMail(order._Mail_State).color}">{{ stateMail(order._Mail_State).message }}</span>
            </div>
          </div>
        </div>
      </ng-container>

    </ng-container>

  </ng-container>
</ion-content>
